<!-- <button
  type="button"
  class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
  id="user-menu-button"
  aria-expanded="false"
  data-dropdown-toggle="dropdown"
>
  <span class="sr-only">Open user menu</span>
  <img
    class="w-8 h-8 rounded-full"
    src="{{ user.avatar_img }}"
    alt="{{ user.username }} photo"
  />
</button>
<div
  class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
  id="dropdown"
>
  <div class="py-3 px-4">
    <span class="block text-sm font-semibold text-gray-900 dark:text-white">
      {{ user.username }}
    </span>
    <span class="block text-sm text-gray-900 truncate dark:text-white">
      {{ user.email }}
    </span>
  </div>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <a
        href="users/profile"
        class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
      >
        My profile
      </a>
    </li>
    <li>
      <a
        href="users/profile"
        class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
      >
        Bookings history
      </a>
    </li>
  </ul>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <a
        href="{% url 'logout' %}"
        class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded-b-lg"
      >
        Sign out
      </a>
    </li>
  </ul>
</div> -->

{% if user.is_authenticated %}
<button
  type="button"
  class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
  id="user-menu-button"
  aria-expanded="false"
  data-dropdown-toggle="dropdown"
>
  <span class="sr-only">Open user menu</span>
  {% if user.avatar_img %}
    <img
      class="w-8 h-8 rounded-full"
      src="{{ user.avatar_img }}"
      alt="{{ user.username }} photo"
    />
  {% else %}
    <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
      <span class="font-medium text-gray-600 dark:text-gray-300">{{ user.get_initials }}</span>
    </div>
  {% endif %}
</button>
<div
  class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
  id="dropdown"
>
  <div class="py-3 px-4">
    <span class="block text-sm font-semibold text-gray-900 dark:text-white">
      {{ user.username }}
    </span>
    <span class="block text-sm text-gray-900 truncate dark:text-white">
      {{ user.email }}
    </span>
  </div>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <a
        href="{% url 'user_profile' %}"
        class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
      >
        My profile
      </a>
    </li>
    <li>
      <a
        href="#"
        class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white"
      >
        Bookings history
      </a>
    </li>
  </ul>
  <ul class="py-1 text-gray-700 dark:text-gray-300" aria-labelledby="dropdown">
    <li>
      <a
        href="{% url 'logout' %}"
        class="block py-2 px-4 text-sm hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white rounded-b-lg"
      >
        Sign out
      </a>
    </li>
  </ul>
</div>
{% else %}
<a
  href="{% url 'login' %}"
  class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900"
>
  Sign in
</a>

{% endif %}
