# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Gitlab password
# V6I66gOsoKFDet87ynhtCf5NPzEuCMADpLN5l86dFN8=

.vscode/