asgiref
backports.zoneinfo
requests==2.25.1
urllib3==1.26.5
bcrypt
blinker
certifi
chardet
Click
colorama
cryptography
distlib
distro
Django
django-appconf
django-auth-ldap
django-compressor
django-yugabytedb
djangorestframework
entrypoints
fasteners
filelock
future
httplib2
idna
keyring
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
Mako
MarkupSafe
monotonic
oauthlib
olefile
paramiko
pexpect
Pillow
platformdirs
protobuf
psycopg2
psycopg2-yugabytedb
pyasn1
pyasn1-modules
PyJWT
pymacaroons
PyNaCl
pyRFC3339
python-dateutil
python-ldap
pytz
pyxdg
PyYAML
rcssmin
reportlab
requests
requests-unixsocket
rjsmin
SecretStorage
simplejson
six
sqlparse
ssh-import-id
typing-extensions
virtualenv
wadllib
django-allauth
ldap3
openmeteo-requests
requests-cache 
retry-requests 
numpy 
pandas
python-json-logger