{% extends "_base.html" %}
{% load static %}
{% block content %}
<h1 class="text-3xl font-bold text-center mb-6">Weather Dashboard</h1>

<div class="max-w-4xl mx-auto bg-white dark:bg-gray-800 rounded-lg shadow p-6 md:p-8">
  <form method="post" class="space-y-6">
    {% csrf_token %}
    <div>
      <label for="hotel" class="block text-sm font-medium text-gray-700 dark:text-gray-400">Select Hotel:</label>
      <select id="hotel" name="hotel" required class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option value="" disabled selected>Select a hotel</option>
        {% for hotel in hotels %}
        <option value="{{ hotel.dupe_id }}">{{ hotel.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="flex justify-end">
      <button type="submit" class="text-purple-700 hover:text-white border border-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-purple-400 dark:text-purple-400 dark:hover:text-white dark:hover:bg-purple-500 dark:focus:ring-purple-900">
        Show Weather
      </button>
    </div>
  </form>
</div>

<div class="mx-auto bg-white rounded-lg shadow dark:bg-gray-800 p-6 md:p-8 mt-8">
  <table class="min-w-full bg-white dark:bg-gray-800 rounded-lg shadow">
    <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Weather data for the next 7 days of <span class="text-2xl font-bold">{{ selected_hotel_name }}</span> </p>
    </caption>
    <thead>
      <tr>
        <th class="px-4 py-2 text-left text-gray-500 dark:text-gray-400"><strong>Attribute</strong></th>
        {% for date in daily_data.date %}
        <th class="px-4 py-2 text-left text-gray-500 dark:text-gray-400">{{ date }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Max Temperature (°C)</strong></td>
        {% for temp in daily_data.temperature_2m_max %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ temp }} °C</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Min Temperature (°C)</strong></td>
        {% for temp in daily_data.temperature_2m_min %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ temp }} °C</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Weather Code</strong></td>
        {% for code in daily_data.weather_code %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ code }}</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Apparent Max Temperature (°C)</strong></td>
        {% for temp in daily_data.apparent_temperature_max %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ temp }} °C</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Apparent Min Temperature (°C)</strong></td>
        {% for temp in daily_data.apparent_temperature_min %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ temp }} °C</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Sunrise</strong></td>
        {% for time in daily_data.sunrise %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ time }}</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Sunset</strong></td>
        {% for time in daily_data.sunset %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ time }}</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Daylight Duration (seconds)</strong></td>
        {% for duration in daily_data.daylight_duration %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ duration }} seconds</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>Sunshine Duration (seconds)</strong></td>
        {% for duration in daily_data.sunshine_duration %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ duration }} seconds</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>UV Index Max</strong></td>
        {% for index in daily_data.uv_index_max %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ index }}</td>
        {% endfor %}
      </tr>
      <tr class="{% cycle 'bg-gray-100 dark:bg-gray-700' 'bg-white dark:bg-gray-800' %}">
        <td class="px-4 py-2 text-gray-900 dark:text-white"><strong>UV Index Clear Sky Max</strong></td>
        {% for index in daily_data.uv_index_clear_sky_max %}
        <td class="px-4 py-2 text-gray-900 dark:text-white">{{ index }}</td>
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>
<div class="mx-auto bg-white rounded-lg shadow dark:bg-gray-800 p-6 md:p-8 mt-8"> 
  <div id="line-chart" class="mt-8" style="height: 400px;"></div>
</div>

<script type="application/json" id="weather-data">{{ daily_data_json|safe }}</script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/chart_config.js' %}"></script>

{% endblock %}